.breadcrumbs
  %ol
    %li= link_to 'GOV.UK elements', elements_index_path
    %li{ "aria-current": "page"} Errors and validation

%h1.heading-xlarge
  %span.heading-secondary GOV.UK elements
  Errors and validation

%p.lede.text Minimise the number of errors on a page.

%h2.heading-small.heading-contents Contents:
.grid-row
  .column-two-thirds
    %ul.list.list-contents
      %li=link_to 'Ask one question per page', '#one-question-per-page'
      %li=link_to 'Summarise errors', '#summarise-errors'
      %li=link_to 'Highlight errors in forms', '#highlight-errors'

%h3.heading-medium{ id: 'one-question-per-page' } Ask one question per page
.text
  %p Recovering from errors can be hard for users, especially if a page contains multiple errors.
  %p Simplify forms by rewriting and where possible, splitting long forms across multiple pages - with each page asking a single question.
%h3.heading-medium{ id: 'summarise-errors'} Summarise errors at the top of the page
%p.text.lead-in You must:
%ul.text.list.list-bullet
  %li show an error summary at the top of the page
  %li include a heading to alert the user to the error
  %li link to each of the problematic questions

%h4.heading-small Error message and summary box
.example.example-error
  .error-summary{ role: 'group', 'aria-labelledby': 'error-summary-heading-example-1', tabindex: '-1'}

    %h1.heading-medium.error-summary-heading{ id: 'error-summary-heading-example-1'} Message to alert the user to a problem goes here
    %p Optional description of the errors and how to correct them
    %ul.error-summary-list
      %li <a href="#example-personal-details">Descriptive link to the question with an error</a>

  %h1.heading-large Check your personal details
  %p Look at your name, signature and other details.
  =form_tag '/' do
    .form-group.error
      %fieldset
        %legend{ id: 'example-personal-details'}
          %span.form-label-bold Are your personal details correct and up-to-date?
          %span.error-message Error message about personal details goes here
        = label_tag nil, class: "block-label selection-button-radio", for: "radio-1" do
          = radio_button_tag :personal_details, :yes, nil, id: "radio-1"
          Yes, my personal details are correct
        = label_tag nil, class: "block-label selection-button-radio", for: "radio-2" do
          = radio_button_tag :personal_details, :no, nil, id: "radio-2"
          No, some details are wrong or have changed

    =submit_tag 'Continue', class: 'button'

%pre
  %code.language-haml
    :preserve
      .error-summary{ role: 'group', 'aria-labelledby': 'error-summary-heading-example-1', tabindex: '-1'}

        %h1.heading-medium.error-summary-heading{ id: 'error-summary-heading-example-1'} Message to alert the user to a problem goes here
        %p Optional description of the errors and how to correct them
        %ul.error-summary-list
          %li <a href="#example-personal-details">Descriptive link to the question with an error</a>

      %h1.heading-large Check your personal details
      %p Look at your name, signature and other details.
      =form_tag '/' do
        .form-group.error
          %fieldset
            %legend{ id: 'example-personal-details'}
              %span.form-label-bold Are your personal details correct and up-to-date?
              %span.error-message Error message about personal details goes here
            = label_tag nil, class: "block-label selection-button-radio", for: "radio-1" do
              = radio_button_tag :personal_details, :yes, nil, id: "radio-1"
              Yes, my personal details are correct
            = label_tag nil, class: "block-label selection-button-radio", for: "radio-2" do
              = radio_button_tag :personal_details, :no, nil, id: "radio-2"
              No, some details are wrong or have changed

        =submit_tag 'Continue', class: 'button'

.panel.panel-border-narrow
  %h3.heading-small The error summary must appear at the top of the page, so it is visible when the page is refreshed and is immediately read out by assistive technology.

%h3.heading-medium{ id: 'highlight-errors' } Highlight errors in forms

%p.lead-in
  For each error:

%ul.list.list-bullet.text
  %li write a message that helps the user to understand why the error occurred and what to do about it
  %li put the message in the <code class="code">&lt;label&gt;</code> or <code class="code">&lt;legend&gt;</code> for the question, after the question text, in red
  %li use a red border to visually connect the message and the question it belongs to
  %li if the error relates to specific text fields within the question, give these a red border as well

%p.text For red, use the <code class="code">$error-colour</code> Sass variable &ndash; find this in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss" rel="external">colours.scss</a> file.

.example.example-error
  .error-summary{ role: 'group', 'aria-labelledby': 'error-summary-heading-example-2', tabindex: '-1'}
    %h1.heading-medium.error-summary-heading{ id: 'error-summary-heading-example-2'} Message to alert the user to a problem goes here
    %p Optional description of the errors and how to correct them
    %ul.error-summary-list
      %li <a href="#example-full-name">Descriptive link to the question with an error</a>
      %li <a href="#example-ni-number">Descriptive link to the question with an error</a>
  %h1.heading-large Your personal details
  .form-group.error
    = label_tag 'error-full-name', for: 'example-full-name' do
      %span.form-label-bold Full name
      %span.form-hint As shown on your birth certificate or passport
      %span.error-message{ id: 'error-message-full-name'} Error message about full name goes here

    =text_field_tag 'example-full-name', nil, class: 'form-control form-control-error', 'aria-describedby': 'error-message-full-name'
  .form-group.error
    = label_tag 'error-ni-number', for: 'example-ni-number' do
      %span.form-label-bold National Insurance number
      %span.form-hint It’s on your National Insurance card, benefit letter, payslip or P60.<br>For example, ‘QQ 12 34 56 C’.
      %span.error-message{ id: 'error-message-ni-number'} Error message about National Insurance number goes here

    =text_field_tag 'example-ni-number', nil, class: 'form-control form-control-error', 'aria-describedby': 'error-message-ni-number'

  =submit_tag 'Continue', class: 'button'

%pre
  %code.language-haml
    :preserve
      .error-summary{ role: 'group', 'aria-labelledby': 'error-summary-heading-example-2', tabindex: '-1'}
        %h1.heading-medium.error-summary-heading{ id: 'error-summary-heading-example-2'} Message to alert the user to a problem goes here
        %p Optional description of the errors and how to correct them
        %ul.error-summary-list
          %li <a href="#example-full-name">Descriptive link to the question with an error</a>
          %li <a href="#example-ni-number">Descriptive link to the question with an error</a>
      %h1.heading-large Your personal details
      .form-group.error
        = label_tag 'error-full-name', for: 'example-full-name' do
          %span.form-label-bold Full name
          %span.form-hint As shown on your birth certificate or passport
          %span.error-message{ id: 'error-message-full-name'} Error message about full name goes here

        =text_field_tag 'example-full-name', nil, class: 'form-control form-control-error', 'aria-describedby': 'error-message-full-name'
      .form-group.error
        = label_tag 'error-ni-number', for: 'example-ni-number' do
          %span.form-label-bold National Insurance number
          %span.form-hint It’s on your National Insurance card, benefit letter, payslip or P60.<br>For example, ‘QQ 12 34 56 C’.
          %span.error-message{ id: 'error-message-ni-number'} Error message about National Insurance number goes here

        =text_field_tag 'example-ni-number', nil, class: 'form-control form-control-error', 'aria-describedby': 'error-message-ni-number'

      =submit_tag 'Continue', class: 'button'


:javascript
  $(document).ready(function () {
    // Use GOV.UK selection-buttons.js to set selected
    // and focused states for block labels
    var $blockLabels = $(".block-label input[type='radio'], .block-label input[type='checkbox']")
    new GOVUK.SelectionButtons($blockLabels) // eslint-disable-line
        GOVUK.shimLinksWithButtonRole.init()
    // Show and hide toggled content
    // Where .block-label uses the data-target attribute
    // to toggle hidden content
    var showHideContent = new GOVUK.ShowHideContent()
    showHideContent.init()
  });
