.grid-row
  .column-two-thirds
    %h1.heading-xlarge GOV.UK elements
    %p.lede This guide shows how to make your service look consistent with the rest of GOV.UK.
    %p.lede This site shows how GDS elements can be created using HAML

.grid-row
  .column-one-third
    %h2.heading-medium= link_to 'Layout', elements_layout_path
    %p Grid unit proportions, gutters and spacing.
  .column-one-third
    %h2.heading-medium= link_to 'Typography', elements_typography_path
    %p Headings, body text, links, lists, inset text, hidden text.
  .column-one-third
    %h2.heading-medium= link_to 'Colour', elements_colour_path
    %p Colour contrast, Sass variables, colour palettes.

.grid-row
  .column-one-third
    %h2.heading-medium= link_to 'Icons and images', elements_icons_images_path
    %p Icons and image ratios.
  .column-one-third
    %h2.heading-medium= link_to 'Data', elements_data_path
    %p Data in a table, numeric tabular data, data visualisation.
  .column-one-third
    %h2.heading-medium= link_to 'Buttons', elements_buttons_path
    %p Button text, button alignment, creating buttons.

.grid-row
  .column-one-third
    %h2.heading-medium= link_to 'Form elements', elements_form_path
    %p Form fields, labels, focus states, radio buttons, checkboxes.
  .column-one-third
    %h2.heading-medium= link_to 'Errors and validation', elements_errors_path
    %p Summary boxes, highlighting errors in forms.
  .column-one-third
    %h2.heading-medium= link_to 'Alpha and beta banners', elements_banners_path
    %p How to create alpha and beta banners using the front-end toolkit.
